*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
*.code-workspace
coverage
node_modules
npm-debug.log
package-lock.json

~*.*

package-lock.json
yarn.lock
deno.lock
.vscode

/output/*